@font-face {
  font-family: "iconfont"; /* Project id 2905328 */
  src: url('iconfont.woff2?t=1639402297810') format('woff2'),
       url('iconfont.woff?t=1639402297810') format('woff'),
       url('iconfont.ttf?t=1639402297810') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-list:before {
  content: "\eadf";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-rank:before {
  content: "\e722";
}

.icon-album-line:before {
  content: "\e6f7";
}

.icon-video:before {
  content: "\e76d";
}

.icon-mic:before {
  content: "\e678";
}

.icon-sifenyinfu:before {
  content: "\e620";
}

.icon-pengyouquan:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-hamberger:before {
  content: "\e621";
}

.icon-user:before {
  content: "\e608";
}

.icon-wangyiyunyinle:before {
  content: "\e600";
}

.icon-wangyiyunyinle1-copy:before {
  content: "\e601";
}

