body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #f8f8f8;
}

div {
  padding: 0px;
  margin: 0px;
}

.iconfont {
  color: #333333;
}

.iconfont-active {
  color: #dd001b;
}

.icon-pengyouquan {
  font-weight: 600;
}
